# latex
*.aux
*.log
*.out
*.toc
*.run.xml
*.bib
*.synctex.gz
*.bbl
*.blg

# modelsim
*.mti
*.mpf
*.wlf
transcript
/*/modelsim/work/*

# vivado
CRC/vivado/CRC_bitwise/CRC_bitwise.runs/*
CRC/vivado/CRC_bitwise/CRC_bitwise.cache/*
# *.vds
# *.jou
# *.pb
# *.wdf
# *.tcl
# *.dcp
# *.rst
# *.rpt
